@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Bungee Shade', 'Bungee', cursive;
}

#root {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3rem;
}